.DoneButton {
  font: inherit;
  font-size: 1rem;
  font-weight: 500;
  background: #3182ed;
  border: none;
  color: white;
  margin: 6px;
  padding: 0.5rem 1rem;
  border: 2px solid white;
  border-radius: 6px;
  z-index: 300;
  pointer-events: all;
  cursor: pointer;
}
.DoneButton:hover {
  filter: brightness(1.1);
}

/* <button type="button" draggable="false" title="Toggle tool lock" data-testid="tool-lock" class="tlui-button tlui-button__normal tlui-toolbar__lock-button tlui-toolbar__lock-button__mobile"><div class="tlui-icon tlui-icon__small tlui-button__icon" style="mask: url(&quot;https://cdn.tldraw.com/3.4.0/icons/icon/0_merged.svg#unlock&quot;) center 100% / 100% no-repeat;"></div></button> */
[data-testid="tool-lock"] {
  display: none;
}
