@import "tailwindcss";
@config "../tailwind.config.ts";
/* Core CSS required for Ionic components to work properly */
@import "@ionic/vue/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "@ionic/vue/css/normalize.css";
@import "@ionic/vue/css/structure.css";
@import "@ionic/vue/css/typography.css";
/* Optional CSS utils that can be commented out */
@import "@ionic/vue/css/padding.css";
@import "@ionic/vue/css/float-elements.css";
@import "@ionic/vue/css/text-alignment.css";
@import "@ionic/vue/css/text-transformation.css";
@import "@ionic/vue/css/flex-utils.css";
@import "@ionic/vue/css/display.css";
/** Ionic Dark Mode: https://ionicframework.com/docs/theming/dark-mode */
/* @import "@ionic/vue/css/palettes/dark.always.css"; */
/* @import "@ionic/vue/css/palettes/dark.class.css"; */
/* @import "@ionic/vue/css/palettes/dark.system.css"; */
:root {
  --ion-toolbar-background: #f6f7f7;
  --ion-statusbar-background: #f6f7f7;
  --ion-background-color: #f8f8f8;
}
.header-md {
  box-shadow: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.alert-cancel {
  color: #ef4444 !important;
}
ion-toolbar {
  height: 74px;
  display: flex;
  padding: 0 20px;
}
ion-button {
  --border-radius: 30px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  font-weight: 700;
}
ion-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
ion-list.list-ios.list-inset {
  -webkit-margin-start: 20px;
  margin-inline-start: 20px;
  -webkit-margin-end: 20px;
  margin-inline-end: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
ion-item {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --inner-padding-top: 0;
  --inner-padding-bottom: 0;
}
ion-input,
ion-textarea {
  background: white;
  border: 1px solid #d1d5db;
  border-radius: 16px;
}
.sc-ion-input-ios,
ion-textarea {
  padding: 8px;
  padding-inline-start: 16px;
}
textarea,
.native-wrapper.sc-ion-textarea-ios::after {
  padding: 2px !important;
}
.alert-message.sc-ion-alert-ios {
  white-space: pre-line;
  text-wrap: balance;
}
